<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/style.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@300&display=swap" rel="stylesheet">
  <title>CryptoData Dashboard</title>

</head>
<body>
  <h1>cRyptoDatA DasHboaRD</h1>
  <ul>
    <% for(let i = 0; i < posts.length; i++){ %>
      <% console.log(posts) %>
      <li>
        <a href="/dash/<%= posts[i]._id %>">
          <%= posts[i].title %> 

        </a>
      </li>
      
    <% } %>
  </ul>
  <a href='/dash/new'>Add Crypto to Dashboard</a>
</body>
</html>