

h1 {
justify-content: center;
border: 10px outset #547854;
text-align: center;
align-items: center;
background-color: rgb(212, 210, 208);
font-family: 'Major Mono Display', monospace;
font-size: 60px;
margin: 50px;
padding: 70px;
}
